.fs-6 {
    font-size: 0.7rem !important;
}
#footer nav {
    background-color: #f2f2f2 !important;
    padding: 0 !important;
}
svg.bi.bi-window-fullscreen {
    margin-right: 0.7rem !important;
}
svg.bi.bi-calendar2-range-fill {
    margin-right: 0.7rem !important;
}

/*LEGEND*/
.Legend_Toast {
    position: absolute;
    top: 14.8rem;
    left: 30.4rem;
    z-index: 9;
    font-size: small !important;
    background-color: #fbfbfbd9 !important;
  }
  .toast-header{
    cursor: move !important;
  }
  .legendBody{
    border-left-width: 1rem;
    padding-left: 1rem;
    border-left-style: solid;
    margin-top: 3px;
  }
  /*ITEM CLASS COLOR CODE*/
  .Itemclass_Current {
    border-left-width: 15px !important;
  }
  .Itemclass_Future {
    border-left-width: 15px !important;
  }
  .Itemclass_Enable {
    border-left-width: 15px !important;
  }
  .Itemclass_Airmen {
    border-left-width: 15px !important;
  }